{% extends "ccl/base-lab.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="bg-projects"></div>
<section id="projects">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="v-title">Projects our lab explores</h2>
          </div>
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-6">
                <h5>A videogame for the neuropsychological screening of children</h5>
                <p class="status published"><i class="fas fa-circle"></i> Published</p>
                <ul>
                  <li>Description: <span>In 2016, a research was carried out to validate the relationship between the results of traditional neuropsychological evaluations and Towi's skills assessment. According to the research, there is a significant correlation between most of the metrics obtained with standardized tests and those obtained with the Towi evaluation. The research goes on, as Towi is being optimized to better accomplish the correlation with standarized test.</span> </li>
                  <li>Institution(s): <span>Areté Proyectos</span></li>
                  <li>Country: <span>Mexico</span></li>
                  <li>Author(s): <span>Rogelio Apiquian, Gamaliel Victoria, Marcos F. Rosetti, María F Gómez</span></li>
                </ul>
                <a href="https://drive.google.com/file/d/1mzmkMqVH9_8r7_Zt2qvzI_d0ZrGpNtsV/view" target="_blank" class="btn-warning btn-project">READ ARTICLE</a>
                <a href="https://www.sciencedirect.com/science/article/pii/S1875952117300083" target="_blank" class="btn-warning btn-project">PUBLISHED ARTICLE</a>
              </div>
              <div class="col-md-6">
                <img src="{% static 'i-lab/videogame.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <img src="{% static 'i-lab/adult-boy-break.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-md-6">
                <h5>Effects of a computarized cognitive training over the efficacy of attentional networks in children</h5>
                <p class="status process"><i class="fas fa-circle"></i> In course</p>
                <ul>
                  <li>Description: <span>This research in progress aims to analyze the impact of cognitive training with Towi on the efficiency of attentional networks in first, second and third grade students, as well as the permanence of changes three months after training and its transfer to fluid intelligence.</span> </li>
                  <li>Institution(s): <span>Universidad Michoacana de San Nicolas de Hidalgo</span></li>
                  <li>Country: <span>Mexico</span></li>
                  <li>Author(s): <span>Martha Camarero, Erwin Rogelio Villuendas González, Esteve Gudayol Ferré</span></li>
                </ul>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <h5>Feasibility of towi as cognitive training video game for children</h5>
                <p class="status published"><i class="fas fa-circle"></i> Finished: Sent to the International Journal of Child-Computer Interaction (Submission no: IJCCI_2019_9)</p>
                <ul>
                  <li>Description: <span>The aim of the study was to evaluate the feasibility of using TOWI, as a cognitive training tool. Cognitive performance before and after playing TOWI was compared using standardized neuropsychological tools as well as cognitive screening games included as part of the TOWI platform.  We found similar patterns of use in school and home as well as by boys and girls. Despite the exploratory nature of the current study, we found significant changes in several neuropsychological measures.  Results  are discussed in terms of the potential strengths that TOWI has as a training tool.</span> </li>
                  <li>Institution(s): <span>Institute of Biomedical Research, UNAM; National Institute of Psychiatry Ramon de la Fuente Muñiz; Kognisi; Areté Projects; University of the Americas</span></li>
                  <li>Country: <span>Mexico</span></li>
                  <li>Author(s): <span>Marcos F. Rosetti, Maria F. Gomez, Cesar Maya & Rogelio Apiquian.</span></li>
                </ul>
                <a href="https://drive.google.com/file/d/1HTzC2U_s8WAAqkUY3fQrdCXBOqgOYpl6/view?usp=sharing" target="_blank" class="btn-warning btn-project">LEARN MORE</a>
              </div>
              <div class="col-md-6">
                <img src="{% static 'i-lab/p3.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-md-6">
                <img src="{% static 'i-lab/p4.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-md-6">
                <h5>Neuropsychological screening with towi: performance in 6- to 12-year-old children</h5>
                <p class="status published"><i class="fas fa-circle"></i> Finished</p>
                <ul>
                  <li>Description: <span>The aim of the study was to address developmental trends for basic cognitive functions such as attention, memory and executive functions from 6 to 12 years of age using the screening games on the TOWI platform.  We tested 1139 participants.  We compared and contrasted our results with similar studies and find similarities in the developmental trends, including the presence of gradual changes as well as quick “spurts” of improvement. We conclude that several performance variables of the tasks included in TOWI are sensitive to developmental changes, which in turn contributes to the face validity of TOWI as a screening tool</span> </li>
                  <li>Institution(s): <span>Institute of Biomedical Research, UNAM; National Institute of Psychiatry Ramon de la Fuente Muñiz; Kognisi; National Institute of Rehabilitation, Areté Projects; University of the Americas</span></li>
                  <li>Country: <span>Mexico</span></li>
                  <li>Author(s): <span>Marcos F. Rosetti, Maria F. Gomez, Marlene A. Galicia, Cesar Maya & Rogelio Apiquian.</span></li>
                </ul>
                <a href="https://drive.google.com/file/d/1AOBmvlczZRR4y0CkQMGCsnjzDlmIr62Q/view?usp=sharing" target="_blank" class="btn-warning btn-project">LEARN MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="projects">
          <div class="container">
            <div class="row">
              <div class="col-md-12 mb-5">
                <h2 class="v-title">Scientific Posters</h2>
                <p>During Brain Awareness Week 2019, psychology students from the National Autonomous University of Mexico presented the results of various studies on the use of Towi in children, teenagers and adults. Meet some of the scientific posters presented below:</p>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://drive.google.com/drive/folders/1E48QFP_Eqsk5n3dhFnQugBO5dR4oAWsX?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/Cartel_Towi_EvaluandoConVideojuegos_MedicionPsicometricaDeLaPlataformaTowi.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1d1E4l9hi6Paa8lUBq9B7g6FF8cTi8-LyZsznl0L1AOk/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/TOWI_inhibicion.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1qJdtvKlu3UaBb0-dPDmA3bDU6rbI4O0SAtMgdqrg-dg/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/Evaluacion_TOWI.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1U-HY4KMUOgGpRkcnJvstYIETsLKuBTyAzt01r95hVRo/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/Cartel_towi_hernandez_helgueras_melo_roman.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1-1PFxohuTfMIc75KQ19WHBUdhF0WjlnzzsShrErYahQ/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/plantilla_10.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1V6T2nyFBNeHZtkUrTPD_gKbSTECEkluf4Vrvtcreh0o/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/TOWI.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1ZHy0kz-k-TDHAh24RqhnqbEVj43P87kRd9KlmS2HDdA/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/ImagenCartel_Towi_(AdultosMayores).png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3 mb-30">
                <a href="https://docs.google.com/document/d/1kymQZUJ0Bfchs7bXPqZXGyAsRWITdidOkJSBfg7rzUE/edit?usp=sharing" target="_blank">
                  <img src="{% static 'i-lab/2596.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
          </div>
    </section>
{% else %}
<section class="data">
    <div class="container">
        <div id="register-form" class="form-container" style="display:none;">
            <div class="alert alert-info">
              <strong>Info!</strong> You need to login to access this page.
            </div>
            <h2>Create an account</h2>
            <form class="row" method="post" action="/ccl/login/">
                {% csrf_token %}
                <div class="form-group col-md-6">
                    <label for="">Name</label>
                    {{form.first_name}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Surname</label>
                    {{form.last_name}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Profession</label>
                    {{form.specialty}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Institution</label>
                    <input type="text" class="form-control" name="center">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Country</label>
                    {{form.country}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Email address</label>
                    {{form.email}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Password</label>
                    {{form.password}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Phone number</label>
                    {{form.phone}}
                </div>
                <div class="col-md-6 offset-md-3">
                    <input type="hidden" name="action" value="registro">
                    <input type="submit" name="action" id="login-submit" tabindex="4"
                           class="form-control btn btn-login" value="registro">
                </div>
                <p class="col-md-12">Already have an account? <a href="#" id="login-form-link">Log in</a></p>
            </form>
        </div>
        <div id="login-form" class="form-container" style="display:block;">
            <h2>Log in</h2>
            <form class="row" method="post" action="/ccl/login/">
                {% csrf_token %}
                <div class="form-group col-md-6">
                    <label for="">Email address</label>
                    {{loginForm.email}}
                </div>
                <div class="form-group col-md-6">
                    <label for="">Password</label>
                    {{loginForm.password}}
                </div>
                <div class="col-md-6 offset-md-3">
                    <input type="hidden" name="action" value="login">
                    <input type="submit" name="action" id="login-submit" tabindex="4"
                           class="form-control btn btn-login" value="login">
                </div>
                <p class="col-md-12">Don't have an account? <a href="#" id="register-form-link">Register now</a></p>
            </form>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}
{% block extra_importation %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js-lab/tilt.jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'js-lab/classie.js'%}"></script>
<script type="text/javascript" src="{% static 'js-lab/clipboard.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js-lab/main.js'%}"></script>
<script type="text/javascript">
  $('.js-tilt').tilt({
    maxTilt:        10,
    perspective:    800
  })
</script>
<script>
document.getElementById("pro").className = "nav-item nav-item--current";
</script>
{% endblock extra_importation %}
