{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="edit-container">
          <div class="col-md-12 text-center">
            <div class="panel">
              <div class="panel-body">
                <h4>¡Tu contraseña ha sido actualizada correctamente!</h4>
                <a href="/cuenta/">
                  <button type="button" name="button" class="btn-action">
                    Ir a tu cuenta
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}