{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="edit-container">
          <div class="col-md-12 text-center">
            <div class="panel">
              <div class="panel-body">
                <h4>¿Deseas cambiar tu contraseña?</h4>
                <p>Para cambiar tu contraseña, ingresa tu contraseña anterior en el campo "Contraseña anterior", ingresa tu nueva contraseña en el campo "Contraseña nueva", confirma tu nueva contraseña y click en "cambiar".</p>
                <form role="form" method="post">
                  {% csrf_token %}
                  <p>
                    {% for error in form.old_password.errors %}
                      <label style="color: red;">{{error}}</label>
                    {% endfor %}
                  </p>
                  <div class="form-group">
                    <label style="color:rgba(18,132,124,0.8);" for="old_password">Contraseña anterior</label>
                    {{ form.old_password }}
                  </div>
                  <p>
                    {% for error in form.new_password1.errors %}
                        <label style="color: red;">{{error}}</label>
                    {% endfor %}
                  </p>
                  <div class="form-group">
                    <label style="color:rgba(18,132,124,0.8);" for="new_password1">Contraseña nueva</label>
                    {{ form.new_password1 }}
                  </div>
                  <p>
                    {% for error in form.new_password2.errors %}
                        <label style="color: red;">{{error}}</label>
                    {% endfor %}
                  </p>
                  <div class="form-group">
                    <label style="color:rgba(18,132,124,0.8);" for="new_password2">Confirmación de la nueva contraseña</label>
                    {{ form.new_password2}}
                  </div>
                  <br>
                  <br>
                  <div class="modal-footer">
                    <a href="/cuenta/">
                      <button type="button" class="btn btn-danger">Cancelar</button>
                    </a>
                    <button type="submit" name="submit" class="btn-action">Cambiar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}