<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Towi</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id = "login-wrapper" >
    <header class="header-login">
        {% if user.is_authenticated %}
            <p style="color: #FFF; font-size:16px">{{request.user.email}}</p>
        {% else %}
         <!--<button type="button" style="color: #FFF; font-size:16px" name="button" class="pull-right bt" id="form-menu">Iniciar Sesión</button>-->
        {% endif %}
    </header>
    {% if messages %}
      {% for message in messages %}
        {% if message.level == 25 %}
          <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align:center">{{ message }}</p>
          </div>
        {% endif %}
        {% if message.level == 40 %}
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align:center">{{ message }}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  	<section>
      <div class="container-fluid text-center" style="background-color: #28929a">
        <div class="alert-covid">
          <h1 style="color: white; font-size: 25px; font-weight: bold;">Apoyo COVID-19: Acceso gratuito a Towi. </h1>
          <a style="font-size: 16px; font-weight: bold; background-color: #EE4373;" href="https://towi.com.mx/covid19/" class="btn-action" target="_blank">Leer más</a>
        </div>
      </div>
      <div class="registro-bienvenida registro-bienvenida-n">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 1218.9 446.5" style="enable-background:new 0 0 1218.9 446.5;" xml:space="preserve">
        <style type="text/css">
         .st0{display:none;}
         .st1{display:inline;fill:#34BFCA;}
         .st2{display:inline;fill:#FFC917;}
         .st3{display:inline;fill:#EE4373;}
         .st4{fill:#FFFFFF;}
         .st5{fill:#34BFCA;}
         .st6{fill:#FFC917;}
         .st7{fill:#EE4373;}
        </style>
        <g id="Layer_1" class="st0">
         <title>logoTowi</title>
         <path class="st1" d="M322.7,165.6c3.8-0.3,5.1-5.5,1.7-7.4h-0.1L63.4,9.3C43.5-2.2,19.9,6,9.7,23.8C2.9,36,6.6,51.4,6.6,51.4
           c4.4,16.1,16.7,38.8,47,68.1c4.6,4.5,33.9,32.9,57,55.3c1.4,1.3,3.4,1.5,5,0.4c25.7-17.3,60.6-10.5,77.9,15.2
           c0.8,1.2,1.6,2.5,2.4,3.8c0.9,1.6,2.8,2.4,4.6,1.9L275,175C290.6,170.4,306.5,167.3,322.7,165.6z"/>
         <path class="st2" d="M107.5,402c-1.6,3.5,2.2,7.1,5.5,5.1l0.1,0l259.4-151.5c19.9-11.5,24.6-36,14.3-53.7
           c-7.2-12-22.4-16.5-22.4-16.5c-16.2-4.3-42-4.9-82.5,6.6c-6.2,1.8-45.4,12.9-76.4,21.7c-1.8,0.5-3,2.2-2.9,4.1
           c2.2,30.9-21.2,57.7-52.1,59.9c-1.5,0.1-3,0.1-4.5,0.1c-1.8,0-3.5,1.2-3.9,3c-7.8,30.9-17.4,69-18.9,75.1
           C119.5,371.8,114.2,387.2,107.5,402z"/>
         <path class="st3" d="M10.2,98C8,94.8,2.9,96.3,3,100.2v0.1l1.5,300.4c0,22.9,18.9,39.3,39.4,39.3c14-0.2,25.5-11.1,25.5-11.1
           c11.8-11.9,25.3-33.9,35.5-74.9c1.6-6.2,11.5-45.8,19.4-77c0.4-1.8-0.4-3.7-2.1-4.5c-27.8-13.6-39.4-47.2-25.8-75
           c0.7-1.4,1.4-2.7,2.1-4c0.9-1.6,0.7-3.6-0.6-4.9C75,166.4,46.7,139,42.2,134.6C30.4,123.4,19.7,111.2,10.2,98z"/>
         <path class="st1" d="M486.2,175.5h-6.9c-19,0-31.2-8.4-31.2-27.4s12.2-27.4,31.2-27.4h6.9V81.8c0-17.1,12.2-30.8,29.7-30.8
           c17.5,0,29.7,13.7,29.7,30.8v38.8H562c19,0,31.2,8.4,31.2,27.4s-12.2,27.4-31.2,27.4h-16.3v119.2c0,17.1-12.2,30.9-29.7,30.9
           s-29.7-13.7-29.7-30.9V175.5z"/>
         <path class="st1" d="M808.9,180.1c-5-13.3-8.4-22.5-9.1-33.1c0-15.6,10.3-28.6,30.1-28.6c14.1,0,24.4,7.6,28.2,20.9l28.9,96.4h0.8
           l26.7-83.4c5-15.6,10.7-33.9,32-33.9s27,18.3,32,33.9l26.7,83.4h0.8l28.9-96.4c3.8-13.3,14.1-20.9,28.2-20.9
           c19.8,0,30.1,12.9,30.1,28.6c-0.8,10.7-4.2,19.8-9.1,33.1l-41.5,116.2c-6.9,19.4-16.8,29.3-36.9,29.3c-21.3,0-28.6-11-35.4-31.2
           l-23.2-70.1h-0.8l-23.2,70.1c-6.9,20.2-14.1,31.2-35.4,31.2c-20.2,0-30.1-9.9-36.9-29.3L808.9,180.1z"/>
         <path class="st1" d="M1143.9,33.5c19.6,0,35.4,15.9,35.4,35.4s-15.9,35.4-35.4,35.4c-19.5,0-35.4-15.8-35.4-35.4
           c-0.1-19.5,15.7-35.4,35.2-35.5C1143.8,33.5,1143.9,33.5,1143.9,33.5z M1114.2,149.2c0-17.1,12.2-30.8,29.7-30.8
           s29.7,13.7,29.7,30.8v145.5c0,17.1-12.2,30.9-29.7,30.9s-29.7-13.7-29.7-30.9V149.2L1114.2,149.2z"/>
         <path class="st1" d="M690.9,117.4c-57.5,0-104.1,46.6-104.1,104.1c0,57.5,46.6,104.1,104.1,104.1c57.5,0,104.1-46.6,104.1-104.1
           C795,164,748.4,117.4,690.9,117.4C690.9,117.4,690.9,117.4,690.9,117.4z M690.9,267c-25.2,0-45.5-20.4-45.5-45.5
           s20.4-45.5,45.5-45.5c25.2,0,45.5,20.4,45.5,45.5v0C736.5,246.6,716.1,267,690.9,267C690.9,267,690.9,267,690.9,267L690.9,267z"/>
        </g>
        <g id="Layer_2">
         <g>
           <path class="st4" d="M39.3,385.8V57.2c0-44.5,48.6-72.3,87.4-49.9l285.4,164.3c38.7,22.3,38.7,77.6,0,99.9L126.7,435.7
             C87.9,458.1,39.3,430.3,39.3,385.8z"/>
           <path class="st4" d="M1165.7,80.7c0-32.9-26.8-59.7-59.7-59.7c-32.9,0-59.7,26.8-59.7,59.7c0,7.3,1.4,14.3,3.8,20.8
             c-5.6-1.8-11.8-2.7-18.3-2.7c-25.2,0-45.2,14.9-51.9,38.6l-1.6,5.2c-5.8-16.7-18.5-43.9-53.3-43.9c-34.7,0-47.5,27.1-53.3,43.9
             l-1.5-4.9c-6.9-24-26.8-39-52.1-39c-22,0-39.8,10.8-48.7,27.7c-21.3-17.9-48.7-28.7-78.6-28.7c-26.9,0-51.8,8.8-72.1,23.6
             c-7.6-10.3-19.1-17.2-33.8-19.6v-9.3c0-31.1-23.9-55.6-54.5-55.6S476,61.3,476,92.5v11.3c-21.7,6.8-34.9,24.7-34.9,49.4
             c0,24.7,13.2,42.6,34.9,49.4v85c0,31.1,23.9,55.6,54.5,55.6s54.5-24.4,54.5-55.6v-5.5c21.3,36.4,60.7,61,105.8,61
             c49.2,0,91.6-29.2,111.2-71.1l9.3,26.1c10.6,29.9,30.6,45.1,59.6,45.1c33.2,0,47.2-20.3,54.1-36c6.8,15.6,20.8,36,54.1,36
             c29,0,49-15.2,59.5-45l12.8-35.9v25.4c0,31.1,23.9,55.6,54.5,55.6c30.6,0,54.5-24.4,54.5-55.6V154.2c0-12.6-3.9-24-10.6-33.2
             C1159.7,110.4,1165.7,96.2,1165.7,80.7z"/>
           <g>
             <path class="st5" d="M353.4,169.3c3.5-0.3,4.6-5.1,1.5-6.8c0,0-0.1,0-0.1,0L115.8,26c-18.2-10.5-39.8-3-49.2,13.3
               c-6.2,11.2-2.8,25.3-2.8,25.3c4,14.8,15.3,35.6,43.1,62.5c4.2,4.1,31.1,30.1,52.2,50.7c1.2,1.2,3.2,1.4,4.6,0.4
               c15.8-10.6,36.9-12,54.4-1.9c8.3,4.8,14.7,11.5,19.1,19.3c0.8,1.5,2.5,2.2,4.2,1.7c28.1-8,62.7-17.8,68.3-19.4
               C325.5,173.3,340.1,170.4,353.4,169.3z"/>
           </g>
           <g>
             <path class="st6" d="M156.2,385.9c-1.5,3.2,2.1,6.5,5.1,4.7c0,0,0.1,0,0.1,0l237.7-138.8c18.2-10.5,22.5-33,13.1-49.2
               c-6.6-11-20.5-15.1-20.5-15.1c-14.8-3.9-38.5-4.5-75.6,6.1c-5.7,1.6-41.6,11.8-70,19.9c-1.7,0.5-2.7,2.1-2.6,3.8
               c1.3,19-8,37.9-25.6,48.1c-8.3,4.8-17.3,7-26.3,6.9c-1.7,0-3.2,1.1-3.6,2.7c-7.1,28.3-15.9,63.3-17.3,68.9
               C166.6,359.7,161.8,373.8,156.2,385.9z"/>
           </g>
           <g>
             <path class="st7" d="M67,107.2c-2-2.9-6.7-1.5-6.6,2c0,0,0,0.1,0,0.1l1.4,275.3c0,21,17.3,36,36.1,36
               c12.8-0.2,23.4-10.2,23.4-10.2c10.8-10.9,23.2-31.1,32.5-68.5c1.4-5.7,10.6-42,17.8-70.6c0.4-1.7-0.4-3.4-2-4.2
               c-17.1-8.4-28.9-25.9-28.9-46.2c0-9.6,2.6-18.5,7.2-26.2c0.9-1.5,0.6-3.3-0.6-4.5c-20.9-20.3-46.8-45.4-51-49.4
               C84.5,129.3,74.7,118.1,67,107.2z"/>
           </g>
           <g>
             <path class="st5" d="M503.3,178.3H497c-17.5,0-28.6-7.7-28.6-25.1s11.2-25.1,28.6-25.1h6.3V92.5c0-15.7,11.2-28.3,27.2-28.3
               c16.1,0,27.2,12.6,27.2,28.3v35.6h15c17.5,0,28.6,7.7,28.6,25.1s-11.2,25.1-28.6,25.1h-15v109.2c0,15.7-11.2,28.3-27.2,28.3
               c-16.1,0-27.2-12.6-27.2-28.3V178.3z"/>
             <path class="st5" d="M799,182.5c-4.5-12.2-7.7-20.6-8.4-30.4c0-14.3,9.4-26.2,27.6-26.2c12.9,0,22.3,7,25.8,19.2l26.5,88.3h0.7
               l24.4-76.4c4.5-14.3,9.8-31.1,29.3-31.1c19.5,0,24.8,16.8,29.3,31.1l24.4,76.4h0.7l26.5-88.3c3.5-12.2,12.9-19.2,25.8-19.2
               c18.1,0,27.6,11.9,27.6,26.2c-0.7,9.8-3.8,18.1-8.4,30.4l-38,106.5c-6.3,17.8-15.4,26.9-33.9,26.9c-19.5,0-26.2-10.1-32.5-28.6
               L925.3,223h-0.7l-21.3,64.2c-6.3,18.5-12.9,28.6-32.5,28.6c-18.5,0-27.6-9.1-33.9-26.9L799,182.5z"/>
             <path class="st5" d="M1106,48.2c17.8,0,32.5,14.3,32.5,32.5s-14.7,32.5-32.5,32.5c-17.8,0-32.5-14.3-32.5-32.5
               S1088.2,48.2,1106,48.2z M1078.8,154.2c0-15.7,11.2-28.3,27.2-28.3c16.1,0,27.2,12.6,27.2,28.3v133.3c0,15.7-11.2,28.3-27.2,28.3
               c-16.1,0-27.2-12.6-27.2-28.3V154.2z"/>
             <path class="st5" d="M690.8,125c-52.7,0-95.4,42.7-95.4,95.4s42.7,95.4,95.4,95.4s95.4-42.7,95.4-95.4S743.5,125,690.8,125z
                M690.8,262.1c-23,0-41.7-18.7-41.7-41.7s18.7-41.7,41.7-41.7c23,0,41.7,18.7,41.7,41.7S713.9,262.1,690.8,262.1z"/>
           </g>
         </g>
        </g>
        </svg>
          <p style="color: white; font-size: 24px;">Regístrate a ti y a tu hijo para comenzar tu aventura towi.</p>
          <h2>
            <button type="button" name="button" class="btn" id="registro-btn">Regístrate ahora</button>
            <button type="button" name="button" class="btn" id="form-menu">Iniciar Sesión</button>
          </h2>
        {% if login == True %}
            <div class="login" style="display: block;"></div>
        {% else %}
            <div class="login">
        {% endif %}

         <h3 style="color:#FFF;">Inicia Sesión</h3>
          <form role="form" method="POST">
              <input type="hidden" name="action" value="login">
              {% csrf_token %}
            <p>
              <label style="color:#FFF;" for="email">Correo electrónico</label>
              {{form.email}}
            </p>
            <p>
              <label  style="color:#FFF;" for="password">Contraseña</label>
              {{form.password}}
            </p>

            <p class="btn-container">
              <!-- Button -->
              <button id="btn-login" type="submit" class="btn">Iniciar sesión</button>
            </p>
            <a href="/recuperar/"; style="color:#FFF";>¿Olvidaste tu contraseña?</a>
          </form>
        </div>
        <div id="form-new-password">
            <a href="/recuperar/"> <h3>¿Olvidaste tu contraseña?</h3></a>
          <p class="inst">Escribe tu correo electrónico, te enviaremos una nueva</p>
          <form role="form">
            <p>
              <label for="email">Correo electrónico</label>
              <input type="text" class="form-control" name="email" required/>
            </p>
            <p class="btn-container">
              <!-- Button -->
              <button type="button" class="btn">Enviar</button>
            </p>
          </form>
        </div>
      </div>
      <div id="overlay-back"></div>
      <div id="overlay">
        <a href="#" id="form-close-id" class="form-close"></a>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="mainbox mainbox-n">
                <h3>¿Cúal es tu perfil?</h3>
                <!-- Nav tabs -->
                <ul class="" role="tablist">
                  <li role="presentation" class="">
                    <a href="#familiar" aria-controls="familiar" role="tab" data-toggle="tab">
                      <img src="{% static 'i/female.png'%}" style="width: 80px;" class="img-circle avatar80">
                      <span>Padre ó Tutor.</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#pacientes" aria-controls="pacientes" role="tab" data-toggle="tab">
                      <img src="{% static 'i/doctor-female.png'%}" style="width: 80px;" class="img-circle avatar80">
                      <span>Especialista en educación.</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#alumnos" aria-controls="alumnos" role="tab" data-toggle="tab">
                      <img src="{% static 'i/male.png'%}" style="width: 80px;" class="img-circle avatar80">
                      <span>Escuela</span>
                    </a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade" id="familiar">
                    <form class="form-horizontal" role="form"  method="POST">
                      <div>
                        <input type="hidden" name="action" value="registro_familiar">
                        {% csrf_token %}
                        <div class="col-md-6">
                          <p>
                              {% for error in registerForm.first_name.errors %}
                                  <label style="color: red;">{{error}}</label>
                              {% endfor %}
                            <label for="email">Primer Nombre *</label>
                            {{registerForm.first_name}}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p>
                              {% for error in registerForm.email.errors %}
                                  <label style="color: red;">{{error}}</label>
                              {% endfor %}
                            <label for="email">Correo electrónico *</label>
                            {{registerForm.email}}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p>
                            <label for="password">Contraseña *</label>
                            {{registerForm.password}}
                          </p>
                        </div>
                        <div class="col-md-6">

                          <p>
                            {% for error in registerForm.password2.errors %}
                                <label style="color: red;">{{error}}</label>
                            {% endfor %}
                            <label for="password">Confirma tu contraseña *</label>
                            {{registerForm.password2}}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p>
                              {% for error in registerForm.child_name.errors %}
                                  <label style="color: red;">{{error}}</label>
                              {% endfor %}
                            <label for="password">Nombre del niño *</label>
                            {{registerForm.child_name}}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <p style="margin:0;">
  {#                              {% for error in registerForm.child_dob.errors %}#}
  {#                                  <label style="color: red;">{{error}}</label>#}
  {#                              {% endfor %}#}
  {#                            <label for="password">Fecha de nacimiento del niño *</label>#}
                              {{registerForm.child_dob}}
                              {% include "select_date.html" %}
                            </p>
                          </div>
                        </div>
                      <p class="btn-container col-md-12">
                        <!-- Button -->
                        <button id="btn-signup" type="submit" class="btn">Registrarse</button>
                      </p>
                    </div>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="pacientes">
                    <form class="form-horizontal" role="form"  method="POST">
                        <input type="hidden" name="action" value="registro_pacientes">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <p>
                                {% for error in registerForm.first_name.errors %}
                                    <label style="color: red;">{{error}}</label>
                                {% endfor %}
                              <label for="email">Primer Nombre *</label>
                              {{registerForm.first_name}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p>
                                {% for error in registerForm.email.errors %}
                                    <label style="color: red;">{{error}}</label>
                                {% endfor %}
                              <label for="email">Correo electrónico *</label>
                              {{registerForm.email}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p>
                              <label for="password">Contraseña *</label>
                              {{registerForm.password}}
                            </p>
                          </div>
                          <div class="col-md-6">

                            <p>
                              {% for error in registerForm.password2.errors %}
                                  <label style="color: red;">{{error}}</label>
                              {% endfor %}
                              <label for="password">Confirma tu contraseña *</label>
                              {{registerForm.password2}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p>
                                {% for error in registerForm.child_name.errors %}
                                    <label style="color: red;">{{error}}</label>
                                {% endfor %}
                              <label for="password">Nombre del niño *</label>
                              {{registerForm.child_name}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <p style="margin:0;">
  {#                                {% for error in registerForm.child_dob.errors %}#}
  {#                                    <label style="color: red;">{{error}}</label>#}
  {#                                {% endfor %}#}
  {#                              <label for="password">Fecha de nacimiento del niño *</label>#}
                                {{registerForm.child_dob}}
                                {% include "select_date.html" %}
                              </p>
                            </div>
                          </div>
                        <p class="btn-container col-md-12">
                          <!-- Button -->
                          <button id="btn-signup" type="submit" class="btn">Registrarse</button>
                        </p>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="alumnos">
                    <form class="form-horizontal" role="form"  method="POST">
                        <input type="hidden" name="action" value="registro_alumnos">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <p>
                                {% for error in registerForm.first_name.errors %}
                                    <label style="color: red;">{{error}}</label>
                                {% endfor %}
                              <label for="email">Primer Nombre *</label>
                              {{registerForm.first_name}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p>
                                {% for error in registerForm.email.errors %}
                                    <label style="color: red;">{{error}}</label>
                                {% endfor %}
                              <label for="email">Correo electrónico *</label>
                              {{registerForm.email}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p>
                              <label for="password">Contraseña *</label>
                              {{registerForm.password}}
                            </p>
                          </div>
                          <div class="col-md-6">

                            <p>
                              {% for error in registerForm.password2.errors %}
                                  <label style="color: red;">{{error}}</label>
                              {% endfor %}
                              <label for="password">Confirma tu contraseña *</label>
                              {{registerForm.password2}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p>
                                {% for error in registerForm.child_name.errors %}
                                    <label style="color: red;">{{error}}</label>
                                {% endfor %}
                              <label for="password">Nombre del niño *</label>
                              {{registerForm.child_name}}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <p style="margin:0;">
  {#                                {% for error in registerForm.child_dob.errors %}#}
  {#                                    <label style="color: red;">{{error}}</label>#}
  {#                                {% endfor %}#}
  {#                              <label for="password">Fecha de nacimiento del niño *</label>#}
                                {{registerForm.child_dob}}
                                {% include "select_date.html" %}
                              </p>
                            </div>
                          </div>
                        <p class="btn-container col-md-12">
                          <!-- Button -->
                          <button id="btn-signup" type="submit" class="btn register_alumn">Registrarse</button>
                        </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
      $('#form-menu').click(function () {
        $('.login').fadeIn(500);
      });

      $('#forget-pass').click(function () {
        $('.login').css("display", "none");
        $('#form-new-password').css("display", "block");
      });

      $('#registro-btn').click(function () {
        $('#overlay, #overlay-back').fadeIn(500);
      });

      $("#form-close-id").click(function () {
          $("#overlay, #overlay-back").css("display", "none");
      });

      $('#registro-btn').click(function(){
        if($('.registro-bienvenida').hasClass('active')) {
          $('.registro-bienvenida').removeClass('active');
        }
        else {
          $('.registro-bienvenida').addClass('active');
        }
      });

      $('#form-close-id').click(function(){
        $('.registro-bienvenida').removeClass('active');
      });
    </script>
    <script text="text/javascript">
        $('#btn-signup').click(function () {
            let dob_day = $('.dob_day option:selected').text();
            let dob_month = $('#dob_month option:selected').val();
            let dob_year = $('#dob_year option:selected').text();
        });
    </script>
  </body>
</html>
