{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        OpenPay.setId('{{ID_KEY|safe}}');
        OpenPay.setApiKey('{{PUBLIC_API_KEY|safe}}');
        OpenPay.setSandboxMode(true);
        //Se genera el id de dispositivo
        var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");

        $('#pay-button').on('click', function(event) {
            event.preventDefault();
            $("#pay-button").prop( "disabled", true);
            OpenPay.token.extractFormAndCreate('payment-form', sucess_callbak, error_callbak);
        });

        var sucess_callbak = function(response) {
          var token_id = response.data.id;
          $('#token_id').val(token_id);
          $('#payment-form').submit();
        };

        var error_callbak = function(response) {
            var desc = response.data.description != undefined ? response.data.description : response.message;
            $("#alert_template button").after("ERROR [" + response.status + "] " + desc);
            $('#alert_template').fadeIn('slow');
            $("#pay-button").prop("disabled", false);
        };

    });
</script>
{% endblock head %}

{% block content %}
    <div class="alert alert-info" id="alert_template" style="display: none;">
        <button type="button" class="close">×</button>
    </div>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container col-md-12">
              <div class="bkng-tb-cntnt">
        <div class="pymnts">
            <form action="#" method="POST" id="payment-form">
                {% csrf_token %}
                <input type="hidden" name="token_id" id="token_id">
                <div class="pymnt-itm card active">
                    <h2>Tarjeta de crédito o débito</h2>
                    <div class="pymnt-cntnt">
                        <div class="card-expl">
                            <div class="credit"><h4 style="padding-left:30px">Tarjetas de crédito</h4></div>
                            <div class="debit"><h4 style="padding-left:190px">Tarjetas de débito</h4></div>
                        </div>
                        <div class="sctn-row">
                            <div class="sctn-col l">
                                <label>Nombre del titular</label><input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name">
                            </div>
                            <div class="sctn-col">
                                <label>Número de tarjeta</label><input type="text" autocomplete="off" data-openpay-card="card_number" maxlength="16"></div>
                            </div>
                            <div class="sctn-row">
                                <div class="sctn-col l">
                                    <label>Fecha de expiración</label>
                                    <div class="sctn-col half l"><input type="text" placeholder="Mes" data-openpay-card="expiration_month" maxlength="2"></div>
                                    <div class="sctn-col half l"><input type="text" placeholder="Año" data-openpay-card="expiration_year" maxlength="2"></div>
                                </div>
                                <div class="sctn-col cvv"><label>Código de seguridad</label>
                                    <div class="sctn-col half l"><input type="text" placeholder="3 dígitos" autocomplete="off" data-openpay-card="cvv2" maxlength="4"></div>
                                </div>
                            </div>
                            <div class="openpay">
                              <div class= "col-md-6"><p>Transacciones realizadas vía: <img src="{% static 'i/openpay.png'%}" style="height:30px; padding-left:30px" alt=""></p></div>
                                <div class= "col-md-6" style="padding:0px"><p style="text-align:center"><img src="{% static 'i/security.png'%}" style="height:45px; padding-top:5px" alt="">Tus pagos se realizan de forma segura con encriptación de 256 bits</p></div>
                            <input type="hidden" name="payment" value="">
                        </div>
                        <div class="sctn-row">
                            <a class="button rght" id="pay-button">Pagar</a>
                        </div>
                    </div>
                </div>
            </form>
          </div>
          <div class="resumen-compra">
            <div class="header-resumen">
              <p>Resumen de compra</p>
            </div>
            <div class="body-resumen" style="padding-top:20px">
              <ul style="list-style:none">
                <li>Nº de subscripciones:<br>
                    <p>{{request.session.number_kids}}</p>
                </li>
                <li>Tipo de subscripción: <br>
                    {% if request.session.option == 'monthly' %}
                    <p>Mensual</p>
                    {% else %}
                    <p>Trimestral</p>
                    {% endif %}
                </li>
                <li>Cupón:<br>
                    {% if not request.session.promo_code %}
                    <p>Sin cupón</p>
                    {% else %}
                    {{request.session.promo_code}}
                    {% endif %}
                </li>
                <li>Descuento: <br>
                    ${{request.session.amount}}
                </li>
                <li>Total a pagar: <br>
                    ${{request.session.total}}
                </li>
              </ul>
            </div>
          </div>
          </div>
          </div>
        </div>
        <div class=" col-md-12 text-center">
                <p>¿Tienes dudas? Contáctanos a <a href="">soporte@towi.com.mx</a> o envíanos un whatsapp al +52 1 55 2108 9945</p>
                <p>Río Duero 48 Col. Cuauhtémoc Del. Cuauhtémoc 06500 Ciudad de México</p>
                <a href="http://www.towi.com.mx/terminos-y-condiciones/">Términos y condiciones    </a>
                <a href="http://www.towi.com.mx/aviso-de-privacidad/">Aviso de privacidad</p>
            </div>
      </div>
    </section>

    {% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
      document.getElementById("top").innerHTML = "Subscripciones"
      document.getElementById("subscriptions").className = "active open";
    </script>
{% endblock extra_importation %}
